* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: left;
    color: ;

}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px;
}

.navbar ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 20px
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 10px white;

}

.background{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-image: ;
}

.sidebar{
    border: black;
    float: left;
}
