*{
    box-sizing: border-box;
    padding: auto;
    margin: auto;
}

body{
    background-color: white;
}

.header{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    color: black;
}

.header h1{
    display: inline-block;
    font-size: 40px;
}

.header nav{
    padding-top: 10px;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header nav ul{
    list-style-type: none;
}

.header nav ul li{
    display: inline-block;
    margin-left: 20px;
}


.header nav ul li a:hover{
    color: blueviolet;
}

.body{
    width: 50%;

}

.About-me{
    margin-bottom: 50px;
    padding-right: 100px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 10;
    padding-top: 40px;
    background-color: lightblue;
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
}